<h1>|   02: About Me   |</h1>
<p>I'm a Seattle-based Web Designer/Developer/Photographer looking to team up with awesome people in need of a smart, passionate, hard-working, create, and overall dedicated person looking to assist on any and all of the creative digital needs.</p>
<p>I keep up with the latest innovations in technology and design and I'm constantly trying to update my skills to keep pace with the industry and best practices.</p>
<a href="resume">Download my resume</a>
<h3>Skills:</h3>
<%= @skills.inspect %>
